.features {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--back-secondary, #f8f9fc);

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.features__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.features__list {
  display: grid;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: $desktop-width) {
    gap: 40px 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

// .features__item:nth-child(3n) {
//   margin-top: 5px;
//   margin-bottom: 5px;
//   margin-left: -15px;
//   margin-right: -15px;
//   padding: 30px 50px 41px;
//   gap: 6px;
//   color: var(--text-primary-light, #ffffff);

//   @media (min-width: $tablet-width) {
//     max-width: 320px;
//     margin: 0 auto;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     padding: 35px 50px;
//     grid-column: span 2;
//     gap: 25px;
//     text-align: center;
//   }

//   @media (min-width: $desktop-width) {

//   }
// }


.features__list > .features__item-dark {
  display: grid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 30px 50px 41px;
  gap: 6px;
  color: var(--text-primary-light, #ffffff);
  background-color: var(--back-secondary-dark, #1c3374);
  box-shadow: none;

  @media (min-width: $tablet-width) {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 35px 50px;
    grid-column: span 2;
    gap: 25px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 360px;
    margin: 0;
    padding: 58px 40px;
    gap: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.features__item {
  display: grid;
  gap: 12px;
  justify-content: center;
  justify-items: center;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 15px;
    text-align: left;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    justify-content: space-between;
  }
}

.features__item:nth-child(5n+1),
.features__item:nth-child(5n+2),
.features__item:not(.features__item-dark):nth-child(5n+3) {
  @media (min-width: $desktop-width) {
    box-shadow: 0 2px 0 0  rgba(209, 10, 66, 0.2);
    padding-bottom: 40px;
  }
}

.features__item div {
  display: flex;
  flex-direction: column;
}

.features__item b {
  margin: 0;
  padding: 0;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 70px;
  }
}


.features__item span {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  margin: 0;
  color: var(--text-dark-secondary, #2e35ac);

  @media (min-width: $tablet-width) {
    line-height: 1.57;
  }
}

.features__item div:nth-child(2n) {
  @media (min-width: $desktop-width) {
    max-width: 210px;
  }
}

.features__item h4 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    margin-bottom: 8px;
  }
}

.features__item p {
  margin: 0;
  font-size: 14px;
  line-height: 1.57;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.features__item-dark b {
  background: var(--text-primary-light, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features__item-dark span {
  color: var(--text-primary-light, #ffffff);
}

.features__item-dark h4 {
  font-size: 22px;
  line-height: 1;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
