.hero {
  color: var(--text-primary-light, #ffffff);
  display: grid;
  padding-top: 15px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 120px;
  }
}

.hero__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.hero__promo {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 15px;
    padding-top: 30px;
  }
}


.hero__logo {
  display: block;
  width: 100px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}

.hero__phone {
  margin: 0;
  margin-right: 1px;
  padding: 0;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-primary-light, #ffffff);

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    margin: 0;

    line-height: 1;
  }
}

.hero__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: right;
  gap: 19px 21px;

  @media (min-width: $tablet-width) {
    gap: 26px;
    min-width: auto;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    min-width: 385px;
    margin-right: 42px;
  }
}

.hero__description {
  font-weight: 400;
  margin: 0;
  margin-top: 81px;
  font-size: 14px;
  line-height: 1.42;

  @media (min-width: $tablet-width) {
    margin-top: 84px;
    line-height: 1.57;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.57;

    margin-top: 70px;
  }
}

.hero-contain {
  min-width: auto;
  gap: 10px;

  @media (min-width: $desktop-width) {
    min-width: 270px;
  }
}


.hero__city {
  font-family: var(--font-secondary, --font-basic);
  font-weight: 600;
  margin: 0;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 1;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 1;
    margin-bottom: 40px;
  }
}

.hero__title {
  font-family: var(--font-secondary, --font-basic);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  font-size: 62px;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 2px;
    margin-bottom: 23px;
    margin-right: -2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 1.2;


    letter-spacing: 4px;
    margin-bottom: 40px;
  }
}

.hero__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 324px;
    height: 390px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 524px;
  }
}

.hero__button {
  grid-column: 1 / -1;
  width: 100%;
  padding: 22px;

  @media (min-width: $tablet-width) {
    grid-column: 2 /2;
    padding: 20px;
    min-width: 185px;
  }

  @media (min-width: $desktop-width) {
    min-width: 270px;
    padding: 25px;


    margin-left: auto;
  }
}
